@model TerexCrawler.Apps.Web.Models.TaggerVM
@{
    ViewData["Title"] = "Tagger";
}
<div class="row">
    <div class="col-12">
        <div>Welcome @Model.Tagger</div>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-primary">
            شماره محصول:
            @Model.ProductName <span class="badge badge-light"> @Model.ProductId</span>
            <span class="sr-only">product</span>
        </button>
        <a class="btn btn-outline-dark" href="/Home/Tagger/@Model.Tagger">محصول بعدی</a>
    </div>
</div>
<div class="row">
    <div class="col-12" dir="rtl">
        <div class="form-group">
            <label class="control-label">عنوان نظر</label>
            <input asp-for="CommentTitle" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">نظر </label> <label id="lblCount">@(Model.CountCurrent + 1)</label><label> از @Model.CountReview</label>
            <textarea asp-for="Review" class="form-control" style="font-size:20px;" rows="6"></textarea>
        </div>

        <div class="form-group input-group-lg">
            <label class="control-label"><strong>نظر انتخاب شده</strong></label>
            <textarea asp-for="SelectReview" class="form-control font-weight-bold" style="font-size:22px;"></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" id="lblAspect">
            </label>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-12" dir="rtl">
        <div class="row">
            <div class="col-12">
                <div class="row" dir="rtl">
                    <div class="col-12" id="dv1">

                        <h2>دسته جنبه</h2>
                        @foreach (var item in Model.Aspects.CategoryList)
                        {
                            <button type="button" class="btn btn-lg btn-outline-secondary btn-category" style="font-size:25px" category="@item.CategoryName" categoryId="@item.id">@item.CategoryTitle</button>
                        }
                    </div>
                    <div id="dv2" class="col-12" style="display:none;">

                        <h2>جنبه</h2>
                        @foreach (var item in Model.Aspects.AspectList)
                        {
                            <button type="button" class="btn btn-lg btn-outline-info aspect-btn-a" style="font-size:25px" aspect="@item.Feature" category="@item.id">@item.Title</button>
                        }

                    </div>
                    <div id="dvPol" class="col-12" style="display:none; width:100%;">

                        <h2>قطبیت</h2>
                        <button type="button" class="btn btn-lg btn-outline-success btn-pol" style="font-size:25px" polarity="positive">مثبت</button>
                        <button type="button" class="btn btn-lg btn-outline-warning btn-pol" style="font-size:20px" polarity="neutral">خنثی</button>
                        <button type="button" class="btn btn-lg btn-outline-danger btn-pol" style="font-size:25px" polarity="negative">منفی</button>

                    </div>
                </div>
            </div>
            <div class="col-12">
            </div>
        </div>
    </div>
    <input type="hidden" id="CountReview" value="@Model.CountReview" />
    <input type="hidden" id="CountCurrent" value="@Model.CountCurrent" />
    <input type="hidden" id="hdnAspectLabel" value="" />
    <input type="hidden" id="Cat_1" value="" />
    <input type="hidden" id="Cat_1_Name" value="" />
    <input type="hidden" id="Aspect_1" value="" />
    <input type="hidden" id="Aspect_1_Name" value="" />
    @Html.HiddenFor(m => m.Tagger)
    @Html.HiddenFor(m => m.idBson)
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.CommentJson)
    
    <div class="col-12">
        <br />
        <br />
        <center>
            <button type="button" id="btnSubmit" class="btn btn-lg col-8 btn-primary">ثبت</button>
        </center>
        <br />
        <br />
        <button type="button" class="btn btn-lg btn-info" id="btnNextComment">نطر بعدی</button>
        <br />
        <br />
        <button type="button" id="btnDelete" class="btn btn-lg btn-outline-danger">حذف موارد انتخاب شده</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("ready!");
    });
    $(".btn-category").click(function () {
        var cat = $(this).attr("category");
        $("#Cat_1").val(cat);
        $("#Cat_1_Name").val($(this).html());
        $("#dv1").hide();
        $("#dv2").show();
    });
    $(".aspect-btn-a").click(function () {
        var aspect = $(this).attr("aspect");
        $("#Aspect_1").val(aspect);
        $("#Aspect_1_Name").val($(this).html());
        $("#dv1").hide();
        $("#dv2").hide();
        $("#dvPol").show();
    });
    $(".btn-pol").click(function () {
        var cat = $("#Cat_1").val();
        var aspect = $("#Aspect_1").val();
        var cat_name = $("#Cat_1_Name").val();
        $("#Cat_1_Name").val("");
        var aspect_name = $("#Aspect_1_Name").val();
        $("#Aspect_1_Name").val("");

        var pol = $(this).attr("polarity");
        var label_name = cat_name + "#" + aspect_name;

        var params = JSON.stringify({ Category: cat, Aspect: aspect, Polarity: pol });
        var label = $("#hdnAspectLabel").val();
        if (label) {
            $("#hdnAspectLabel").val(label + "," + params);
        }
        else {
            $("#hdnAspectLabel").val(params);
        }

        var aspectHtml = $("#lblAspect").html();
        $("#lblAspect").html(aspectHtml + "<a class='btn btn-sm btn-" + (pol == "positive" ? "success" : pol == "neutral" ? "warning" : "danger") +"' style='margin-right:5px;'>" + label_name + "</a>");

        $("#dv1").show();
        $("#dv2").hide();
        $("#dvPol").hide();
        Reset();
    });

    $("#btnDelete").click(function () {
        ClearAspect();
    });

    function Reset() {
        $("#Aspect_1").val("");
        $("#Cat_1").val("");
        $("#Aspect_1_Name").val("");
        $("#Cat_1_Name").val("");
    }
    function ClearAspect() {
        Reset();
        $("#dv1").show();
        $("#dv2").hide();
        $("#dvPol").hide();
        $("#hdnAspectLabel").val("");

        $("#lblAspect").empty();
    }

    function NextComment() {
        var Count = @Model.CountReview;
        var cmIndex = parseInt($("#CountCurrent").val());
        cmIndex += 1;
        if (Count > cmIndex) {
            var json = $("#CommentJson").val();
            var comments = JSON.parse(json);
            var comment = comments[cmIndex];

            $("#Review").val(comment.Review);
            $("#CommentTitle").val(comment.Title);
            $("#CountCurrent").val(cmIndex.toString());
            $("#lblCount").html(cmIndex + 1);
            ClearAspect();
        }
    }
    $("#btnSubmit").click(function () {
        var params = $("#hdnAspectLabel").val();
        var selectReview = $("#SelectReview").val();
        var productId = $("#ProductId").val();
        var tagger = $("#Tagger").val();
        var idBson = $("#idBson").val();
        var new1 = '{"ProductId":"d","Tagger":"ssa","idBson":"gh","Text":"sss","AspectLabels":[{"Category":"","Aspect":"","Polarity":""}]}';
        params = '{"' + 'ProductId": "' + productId + '", "Tagger": "' + tagger + '", "idBson": "' + idBson + '", "Text": "' + selectReview + '", "AspectLabels":[' + params + "]}";
        $.ajax({
            type: "POST",
            url: "/Home/AddLabel/",
            data: params,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    swal.fire({
                        icon: 'success',
                        title: "Success!",
                        text: "Registered Review",
                        showConfirmButton: false,
                        timer: 500
                    });

                    //ClearAspect();
                    $("#lblAspect").empty();
                    $("#SelectReview").val("");
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Not Registered'
                    });
                }
            },
            failure: function (errMsg) {
                Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                    text: 'Not Registered'
                });
            }
        });

    });

    $("#btnNextComment").click(function () {
        NextComment();
    });
</script>